@model BabyToys.Models.SanPham
@{
    ViewBag.Title = "ChiTiet.Mobile";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}
<link href="~/Content/jcarousel/jcarousel.connected-carousels.css" rel="stylesheet" />
<script src="~/content/jcarousel/jquery.jcarousel.min.js"></script>
<script src="~/Content/jcarousel/jcarousel.connected-carousels.js"></script>
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="heading" style="padding-top:10px;text-align:center;">
                <h3>@Model.TenSP</h3>
            </div>
            <div class="connected-carousels">
                <div class="stage">
                    <div class="carousel carousel-stage">
                        <ul>
                            <li><img class="my-foto" src="/Content/Images/SanPham/@Model.Hinh()" data-large="/Content/Images/SanPham/@Model.Hinh()" width="260" height="250" alt="" data-imagezoom="true"></li>
                            @if (ViewBag.ChiTietHinh != null)
                            {
                                foreach (var hinhanh in ViewBag.ChiTietHinh)
                                {
                                    <li><img class="my-foto" src="/Content/Images/SanPham/@hinhanh.AnhGoc" data-large="/Content/Images/SanPham/@hinhanh.AnhGoc" width="260" height="250" alt=""></li>
                                }
                            }

                        </ul>
                    </div>
                    <p class="photo-credits">
                        Photos by <a href="http://www.mw-fotografie.de">traicayvita.com</a>
                    </p>

                </div>

                <div class="navigation">
                    <a href="#" class="prev prev-navigation">&lsaquo;</a>
                    <a href="#" class="next next-navigation">&rsaquo;</a>
                    <div class="carousel carousel-navigation">
                        <ul>
                            <li>
                                <img src="/Content/Images/SanPham/@Model.Hinh()" width="50" height="50" alt="">
                            </li>
                            @if (ViewBag.ChiTietHinh != null)
                            {
                                foreach (var hinhanh in ViewBag.ChiTietHinh)
                                {
                                    <li>
                                        <img src="/Content/Images/SanPham/@hinhanh.Thumbnail" width="50" height="50" alt="">
                                    </li>
                                }
                            }

                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <ul style="list-style: none; line-height: 190%;font-size:13px;">
                    <li><b style="color: #1A911A">Mã sản phẩm:</b> @Model.MaSP</li>
                    <li><b style="color: #1A911A">Loại sản phẩm: </b> @Model.DanhMuc.TenDanhMuc</li>
                    <li><b style="color: #1A911A">Xuất xứ: </b>@Model.ChatLieu</li>
                    <li><b style="color: #1A911A">Trạng thái: </b>@Model.MauSac</li>
                </ul>
            </div>
            <br />
            <div class="price" style="font-size:18px;text-align:center">
                <p>Giá: <span>90,000 VNĐ/Kg</span></p>
                <a href="tel:0932641106" class="large orange button dlLight">Gọi đặt hàng</a>

            </div>
            <br />
            <div style="border-top: 1px solid rgb(221, 221, 221);padding-top:5px;">
                <div>
                    <span style="font-size: 0.8125em;">Số lượng</span>
                    <select id="soluong">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div style="padding-top:5px;">
                    <a id="addcart" class="large orange button dlLight" href="#">
                        <span>Thêm giỏ hàng</span>
                    </a>
                </div>
                <script>
                    $("#addcart").click(function () {
                        var soluong = $("#soluong").val();
                        window.location.href = 'http://' + window.location.host + '/GioHang/ThemVaoGioHang?idsanpham=@Model.IdSanPham&soluong=' + soluong;
                    });
                </script>
                <div class="clear"></div>
            </div>
            <br />
            @if (Model.MoTaSP != null)
            {
                <div class="product-desc" style="text-align:left">
                    <h2>Mô tả chi tiết</h2>
                    <p style="margin-left:0px;">@Html.Raw(@Model.MoTaSP)</p>

                </div>


            }
        </div>
    </div>
</div>
