@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/Home/_Layout.cshtml";
}
@model IEnumerable<BabyToys.Models.ViewModel.CartItem>
<div class="content">
    <div class="content-left">
        @{Html.RenderAction("ModuleSanPhamNoiBat", "Home");}
        <br />

        @{Html.RenderAction("ModuleSanPhamNoiBat", "Home");}

    </div>
    <div class="content-right">
        <div class="list">
            <h1 style="color: #330066">Giỏ hàng của bạn</h1>
            <div class="endtitle"></div>
             @if (@Model.Count() ==0)
                            {
                                <p>Chưa có hàng trong giỏ!</p>
                            }
            <div class="cart-info">
                @*@if(Model.Any(c=>c.VuotSoLuong==true))
                {
                <span>Những sản phẩm đánh dấu <b style="color:red">***</b> là những sản phẩm không đủ số lượng    <br /></span>
                
                }*@
                <table border="1" style="margin-top: 30px; font-size: 13px;">
                    <thead>
                        <tr>
                            <td>Hình ảnh</td>
                            <td>Tên sản phẩm</td>
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Tổng cộng</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach(var item in Model)
                        {
                            
                        <tr>
                            <td class="image">
                                <img src="~/Content/Images/SanPham/@item.SanPham.HinhDaiDien" width="80px" height="80px"></td>
                            <td class="name">
                                <a href="#">@item.SanPham.TenSP</a>
                                @*@if (item.VuotSoLuong == true)
                                {
                                    <span style="color:red">***</span>
                                }*@
                            </td>
                            <td class="quantity">
                                @using(Html.BeginForm("CapNhatGioHang","GioHang"))
                                {
                                    <input type="hidden" value="@item.SanPham.IdSanPham" name="idsanpham" />
                                    <select id="quantity" name="soluong" style="width:50px; margin:0 10px; height:25px">
                                        <option value="1" @Html.Raw(item.SoLuong==1?"selected=\"selected\"":"")>1</option>
                                        <option value="2" @Html.Raw(item.SoLuong==2?"selected=\"selected\"":"")>2</option>
                                        <option value="3"@Html.Raw(item.SoLuong==3?"selected=\"selected\"":"")>3</option>
                                    </select>
                                    <input type="submit" value="Cập nhật" class="small button input orange" style="width:80px"/>
                                }
                            </td>
                            <td class="price">@item.Gia</td>
                            <td class="total">@item.ThanhTien</td>
                           
                            <td><a href="~/GioHang/XoaKhoiGioHang/?idsanpham=@item.SanPham.IdSanPham">Xóa</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
                 <div class="cart-cost">
                      Tổng cộng: @ViewBag.TongCong  đồng
                    </div>
                @*<div class="cart-cost">
                   Hóa đơn chưa bao gồm phí vận chuyển, tham khảo phí vận chuyển ở <a href="~/home/phivanchuyen" style="display:inline">đây</a>
                </div>*@

            </div>
            <div style="margin-top: 10px; border: 1px solid #DBDEE1; padding: 20px 10px; text-align: right;">
                <a href="~/GioHang/XoaGioHang" class="large orange button dlLight">Xóa giỏ hàng</a>
                <a href="~/home" class="large orange button dlLight">Tiếp tục</a>
                <a href="~/checkout" class="large orange button dlLight">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
